.numbers {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 15px;
   min-height: 85px;

   &__list {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      padding-top: 17px;
      padding-bottom: 14px;
      color: #242424;
      list-style: none;
   }

   &__item {
      position: relative;
      padding-left: 38px;
   }

   &__flag {
      position: absolute;
      left: 0;
      top: 4px;
   }

   &__country {
      margin: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
   }

   &__info {
      margin: 0;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;

      & span {
         display: block;
      }
   }
}

@media (max-width: 1180px) {
   .numbers {
      &__list {
         flex-wrap: wrap;
         justify-content: flex-start;
      }

      &__item {
         width: 33.33%;
         margin-bottom: 10px;
      }
   }
}

@media (max-width: 768px) {
   .numbers {
      &__item {
         width: 50%;
      }
   }
}

@media (max-width: 525px) {
   .numbers {
      &__item {
         width: 100%;
      }
   }
}
